{% extends 'layout.html' %}

{% block content %}
<div class="row p-4 text-center justify-content-center">
    <form class="col-4 shadow-lg p-4" action="/game" method="GET">
        <h1 class="p-3">Quicon</h1>

        <div class="form-group">
            <label for="player_1">Player 1</label>
            <input type="text" class="form-control players" id="player_1" name="player_1" value="Player1">
        </div>

        <div class="form-group">
            <label for="player_2">Player 2</label>
            <input type="text" class="form-control players" id="player_2" name="player_2" value="Player2">
        </div>

        <div class="form-group">
            <label for="difficulty">Difficulty</label>
            <select class="form-control" id="difficulty" name="difficulty">
                <option value="3">Easy</option>
                <option value="4">Medium</option>
                <option value="5">Hard</option>
            </select>
        </div>

        <div class="form-group">
            <label for="time">Time</label>
            <select class="form-control" id="time" name="time">
                <option value="0:30">0:30</option>
                <option value="1:00">1:00</option>
                <option value="1:30">1:30</option>
                <option value="2:00">2:00</option>
            </select>

        </div>

        <button class="btn btn-primary" type="submit">Let's go!</button>
    </form>

</div>
{% endblock %}