{% extends 'layout.html' %}

{% block head %}
<script src="{{ url_for('static', filename='js/start.js') }}" defer></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock %}

{% block content %}
<div class="row h-100 p-4 text-center justify-content-center">
    <form class="col-4 bg-info text-white rounded shadow-lg p-4" action="/game" method="GET">
        <h1 class="p-3">Quicon</h1>

        <div class="form-group">
            <label for="player-1">Player 1</label>
            <input type="text" class="form-control players" id="player-1" name="player_1" value="Player1" required>
        </div>

        <div class="form-group">
            <label for="player-2">Player 2</label>
            <input type="text" class="form-control players" id="player-2" name="player_2" value="Player2" required>
        </div>

        <div class="form-group">
            <label for="difficulty">Difficulty</label>
            <select class="form-control" id="difficulty" name="difficulty">
                <option value="3">Easy</option>
                <option value="4">Medium</option>
                <option value="5">Hard</option>
            </select>
        </div>

        <div class="form-group">
            <label for="time">Time</label>
            <select class="form-control" id="time" name="time">
                <option value="0:30">0:30</option>
                <option value="1:00">1:00</option>
                <option value="1:30">1:30</option>
                <option value="2:00">2:00</option>
            </select>

            {% for deck_theme in deck_themes %}
            <div class="deck-themes">
                <img src="{{ deck_theme['img']}}"><br>
                <label for="{{ deck_theme['name'] }}">{{ deck_theme['name'] }}</label>
                <input type="checkbox" name="deck_theme" id="{{ deck_theme['name'] }}" value="{{ deck_theme['name'] }}">
            </div>
            {% endfor %}

        </div>


        <button class="btn btn-primary" type="submit">Let's go!</button>
    </form>

</div>


{% endblock %}